html {
    font-size: 62.5% /*100%=16px*/;
}

em {
    font: 1em "Fira Sans", sans-serif;
}
h1 {
    font: 2em "Fira Sans", sans-serif;
}

h3 {
    font: 2em "Fira Sans", sans-serif;
}

li {
    font: 1.5em "Fira Sans", sans-serif;
}

body {
    background-color: powderblue;
}

hr {
    border-style:dotted none none;
    border-width: 10px;
    width: 10%;
}

table {
    font: 1.5em "Fira Sans", sans-serif;
}